.product {
    display: flex;
    width: 90%;
    margin: 3rem auto;
    gap: 5rem;
    box-shadow: 0 0 2px 2px rgba(128, 0, 128, 0.458);
    border-radius: 15px 0 0px 15px;
}

.productImg {
    width: 350px;
    object-fit: cover;
    border-radius: 15px 0 0px 15px;
}

.product .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding:3rem 1rem 1rem 0;
}

.product .name {
    font-size: 3rem;
    color: var(--purple);
}

.product .price {
    font-size: 2rem;
    color: rgb(255, 98, 0);
}

.product .mes {
    color: var(--blue);
}

.product .rating {
    color: rgb(255, 162, 0);
}

.product .desc {
    opacity: 0.8;
    color: gray;
}

.product p {
    font-size: 0.8rem;
    line-height: 25px;
    color: gray;
}

.product button {
    width: fit-content;
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 800;
    background-color: var(--purple);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.reviews {
    width: 90%;
    margin: 6rem auto;
}

.submitReview {
    background-color: rgb(151, 0, 151);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem 2rem 1rem;
}

.submitReview h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.submitReview select {
    padding: 7px;
    font-size: 2rem;
    cursor: pointer;
    width: 120px;
    text-align: center;
    border: none;
    outline: none;
    color: var(--purple);
    margin-bottom: 2rem;
}

.submitReview textarea {
    width: 80%;
    padding: 7px;
    min-height: 200px;
}

.submitReview button {
    margin: 3rem auto;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: var(--purple);
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.comments {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

/************** review *************/


.review {
    box-shadow: 0 0 2px 2px rgba(128, 0, 128, 0.316);
    width: fit-content;
    width: 400px;
    padding: 1rem 1.5rem 1.8rem 1rem;
    border-radius: 15px;
}

.review h1 {
    font-size: 2.8rem;
    color: var(--purple);
    margin-bottom: 1rem;
}

.review p {
    font-size: 0.9rem;
    color: gray;
}

@media screen and (max-width: 950px){
    .product {
        flex-direction: column;
        border-radius: 15px;
        gap: 2rem;
    }   

    .product .content {
        padding: 1rem 1rem 1rem 2rem;
    }

    .productImg {
        width: 100%;
        height: 300px;
        border-radius: 15px 15px 0 0;
    }

    .product .name {
        font-size: 2.5rem;
    }
    
    .product .price {
        font-size: 1.7rem;
    }
    .submitReview h1 {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 800px) {
    .submitReview h1 {
        font-size: 2.1rem;
    }

    
.submitReview select {
    font-size: 1.8rem;
}


.submitReview button {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
}

/*********** review **********/
.review {
    width: 350px;
}

.review h1 {
    font-size: 2.4rem;
}
}

@media screen and (max-width: 450px) {
    .review {
        width: 300px;
    }
    
    .review h1 {
        font-size: 2rem;
    }
    
}