.favorites {
    margin: 3rem auto;
    text-align: center;
}

.title{
    font-size: 2.4rem;
    color: var(--red);
}

.favoritesGrid {
    margin: 4rem auto;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .favoritesGrid {
        grid-template-columns: repeat(2, calc(100%/2));
    }
}

@media screen and (max-width: 600px) {
    .favoritesGrid {
        grid-template-columns: 1fr;
    }
}